<div class="header-hover-zone"></div>
<header id="mainHeader">
  <header class="homepage-header" [class.scrolled]="isScrolled" [class.menu-open]="menuOpen">
    <a class="logo">
      <img
        [src]="isScrolled ? 'images/agape-logo-icon.png' : 'images/agape-logo-extended.png'"
        alt="Logo"
      />
    </a>

    <!-- Navegação Desktop -->
    <nav class="main-nav desktop-only">
      <a href="#origem">Origem</a>
      <a href="#equipe">Equipe</a>
      <a href="#projetos">Projetos</a>
    </nav>

    <!-- Botão Mobile -->
    <button class="hamburger mobile-only" (click)="toggleMenu()" aria-label="Abrir/Fechar Menu">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Navegação Mobile -->
    <nav class="mobile-nav" [class.open]="menuOpen">
      <button class="hamburger mobile-only" (click)="closeMenu()" aria-label="Abrir/Fechar Menu">
        <mat-icon>close</mat-icon>
      </button>
      <a class="lnkmobile" [class.open]="menuOpen" href="#origem" (click)="closeMenu()">Origem</a>
      <a class="lnkmobile" [class.open]="menuOpen" href="#equipe" (click)="closeMenu()">Equipe</a>
      <a class="lnkmobile" [class.open]="menuOpen" href="#projetos" (click)="closeMenu()">Projetos</a>
    </nav>
  </header>
</header>
